@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&family=Sriracha&display=swap');
:root{
    --bg-color:#0C1415;
    --box-color:#182729;
    --btn-color:#dcbe14;
    --search-color:#dcbe14;
    --searchText-color:#dcbe14;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
   height: 100vh;
   width: 100vw;
   background-color: var(--bg-color);
   font-family: 'Raleway', sans-serif;
    color: white;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 2vh;
  
}
.eingabe-feld{
    height: 90%;
    width: 100%;
}
.box{
    height:80vh;
    width: 70vw;
    background-color:var(--box-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.btn{
  margin-top: 2rem;
  text-align: center;
}
.ausgabe-feld{
    margin-top: 3rem;
    margin-right: 1rem;
}
sup{
    color: rgb(255, 187, 0);
    font-size: 4rem;
}
.ausgabe-feld{
  height: 50vh;
  width: 70vw;
  display: grid;
  grid-template-columns:50% 50%;
}
.zufall-bild{
  grid-column: 1/2;
  display: grid;
  margin: auto;
  height: 55vh;
  width: 26vw;
  object-fit: cover;

}
#ausgabeText{
  font-size: 0.8rem;
  color: silver;
  font-weight: 600;
  text-align: center;
  display: grid;
  margin-right: 2vw;
}
#ausgabeAuthor{
  font-size: 0.8rem;
  color: silver;
  font-weight: 600;
  display: grid;
  text-align: center;
}
.wrong{
  font-size: 2rem;
  color:#dcbe14;
  text-align: center;
  margin-top: 2rem;
}
button{
    background-color: transparent;
    color: white;
    border: silver solid 1px;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 3.5rem;
    transition: 0.5s ease;
    outline: none;
}
button:hover{
  border: #dcbe14 solid 1px; 
  color: rgb(220, 190, 20);
}
button:focus{
  border: #bea61b solid 1px; 
  color: #bea61b;
}
.zitat-oben{
    height: 2rem;
    width: 2rem;
    float:left;
    filter: drop-shadow(22%);
    transform: rotate(180deg)
}
.zitat-unten{
  height: 2rem;
  width: 2rem;
  position: static;
  justify-self: end;

  
}
.group{ 
    position: fixed; 
    left: 50%;
    top: 4%;
    transform: translateX(-50%);
  }
  input               {
    font-size:18px;
    color: var(--searchText-color);
    font-weight: bold;
    padding:10px 10px 10px 5px;
    display:block;
    background-color: transparent;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus         { outline:none; }
  /* LABEL ======================================= */
  label                {
    color:white; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  /* active state */
  input:focus ~ label, input:valid ~ label        {
    top:-20px;
    font-size:14px;
    color:var(--search-color);
  }
  /* BOTTOM BARS ================================= */
  .bar    { position:relative; display:block; width:300px; }
  .bar:before, .bar:after     {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:var(--search-color); 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to    { width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to    { width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to    { width:0; background:transparent; }
  }